body {
        font-family: 'Noto Sans', sans-serif;
        font-weight: 700;
}

.h1 {
        margin: 72px 0 29px 0;
        font-size: 40px;
}

.line {
        width: 402px;
        border-bottom: 5px solid #3E45E8;
        margin: 0 0 29px 104px;
}

.header {
        min-height: 54px;
        text-align: center;
        color: #3E45E8;
        font-size: 48px;
        font-weight: 400;
        font-family: 'M PLUS 1', sans-serif;
        padding: 25px 0;
        box-sizing: border-box;
}

.header_span {
        color: #E8C23E;
}

.banner {
        background-image: url("../img/image\ 1.png");
        height: 803px;
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 80px;
        padding-top: 195px;
        box-sizing: border-box;
}

.blue {
        background-image: url("../img/flag_blue.png");
        height: 136px;
        background-repeat: no-repeat;
}

.text {
        font-size: 48px;
        color: #FFFFFF;
        width: 70%;
        line-height: 76px;
        padding-left: 4%;
        box-sizing: border-box;
}

.yellow {
        background-image: url("../img/flag_yellow.png");
        height: 136px;
        background-repeat: no-repeat;
}

.main {
        padding: 0 80px;
}

.card {
        width: 30%;
        border-radius: 33px;
        color: #1E8DF2;
        display: inline-block;
        vertical-align: top;
        box-shadow: 0px 4px 57px rgba(0, 0, 0, .5);
}

.card_image {
        width: 100%;
}

.card_margin {
        margin: 0 3.5%;
}

.card_title {
        font-size: 24px;
        padding: 10px;
        box-sizing: border-box;
}

.card_subtitle {
        font-size: 20px;
        font-weight: 400;
        color: #E8C23E;
        padding: 10px;
        padding-bottom: 75px;
        box-sizing: border-box;
}

.h2 {
        font-size: 40px;
        text-align: center;
        padding: 74px 0 21px 0px;
        box-sizing: border-box;
}

.line2 {
        width: 402px;
        border-bottom: 5px solid #3E45E8;
        margin: 0 auto;
}

.map {
        height: 537px;
        text-align: center;
        margin: 41px 0 51px 0;
        box-sizing: border-box;
}

.blue_button {
        background-image: url(../img/blue_block.png);
        background-repeat: no-repeat;
        height: 121px;
        padding: 10px 95px;
        box-sizing: border-box;
        margin: 0 33% 21px;
}

.content_button {
        color: #FFFFFF;
        font-size: 64px;
}

.footer {
        background-image: url(../img/footer.png);
        height: 320px;
}

.header_footer {
        min-height: 54px;
        text-align: center;
        color: #3E45E8;
        font-size: 48px;
        font-weight: 400;
        font-family: 'M PLUS 1', sans-serif;
}

.content_footer {
        font-family: 'Marcellus SC', serif;
        font-size: 36px;
        color: #A89D9D;
        text-align: center;
        padding: 10px 0;
        box-sizing: border-box;
}

.link2_footer {
        padding: 21px 0;
        box-sizing: border-box;
}

.links {
        text-align: center;
}