:root {
        background-color: #FFB084;
        font-size: 14px;
        font-family: 'Work Sans', sans-serif;
}

section {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(5, .5fr);
        margin: 3% 10%;
        gap: 20px;
        grid-auto-flow: column;
}

section>div {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 20px;
        padding: 10px 0;
        box-sizing: border-box;
        box-shadow: 7px 7px black;
}

.main-card {
        display: flex;
        flex-direction: column;
        grid-column: 1/2;
        grid-row: 1/5;
        background-image: url(../img/img.svg);
        background-repeat: no-repeat;
        background-position: 50% 20%;
}

.bio {
        grid-column: 2/4;
        grid-row: 1/3;
}

.dream {
        grid-column: 2/3;
        grid-row: 4/6;
}

.frustrations {
        grid-column: 3/4;
        grid-row: 3/5;
}

.header-name {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin-top: 10px;
}

.main-card ul {
        margin-top: 50%;
        list-style-type: none;
}

.main-card ul li {
        margin: 8% 10%;
}

.pronouns {
        margin-left: 20px;
}

.bold-span {
        font-weight: 600;
}

.slogan {
        font-weight: 700;
}

.slogan>div {
        width: 70%;
        margin: 10% auto;
}

.header {
        font-weight: 700;
        margin-left: 10%;
        margin-top: 5%;
}

.bio div:nth-child(2) {
        width: 80%;
        margin: 7% 10%;
}

.goals li,
.dream li,
.frustrations li,
.personality li {
        margin: 3% 10%;
}

.goals {
        box-shadow: 7px 7px #29A71E;
}

.dream {
        box-shadow: 7px 7px #3675B0;
}

.frustrations {
        box-shadow: 7px 7px #E13535;
}

.header-goals {
        color: #29A71E;
}

.header-dream {
        color: #3675B0;
}

.header-frustrations {
        color: #E13535;
}

.personality li {
        list-style-type: none;
        margin-left: 0;
}

@media screen and (min-width: 992px) {
        :root {
                font-size: 18px;
        }

        .main-card ul {
                margin-top: 40%;
        }

        .pronouns {
                margin-left: 30px;
        }

        .header {
                font-size: 1.3rem;
        }
}