:root {
        font-size: 10px;
}

.container {
        min-width: 700px;
        max-width: 1000px;
        font-family: 'Public Sans', sans-serif;
        font-weight: 500;
        margin: 0 auto;
        font-size: 1.6rem;
}

.red-content {
        color: red;
}

.flexbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.box {
        display: flex;
        flex-direction: column;
        width: 392px;
}

input,
select {
        margin-bottom: 20px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid #ADADAD;
}

label {
        margin-bottom: 8px;
        font-size: 1.6rem;
}

.header {
        font-size: 2.4rem;
        font-weight: bold;
        margin: 70px 0;
}

.after-header {
        font-size: 1.4rem;
}

.h2 {
        margin: 30px 0;
        font-size: 2rem;
        font-weight: bold;
}

.date {
        background-color: #EFEFEF;
}

input#datepicker {
        background-image: url(../svg/date.svg);
        background-repeat: no-repeat;
        background-position: 98% center;
}

.input-text {
        background-image: url(../svg/image.svg);
        background-repeat: no-repeat;
        background-position: 98% center;
}

.visibility {
        visibility: hidden;
}

.checkbox {
        width: 24px;
        height: 24px;
        border-radius: 2px;
}

#Purged::after {
        content: "Purged";
        font-family: 'Public Sans', sans-serif;
        font-size: 1.6rem;
        margin-left: 35px;
}

.Purged {
        width: 392px;
        height: 40px;
        margin-bottom: 48px;
        padding-top: 7%;
        box-sizing: border-box;
}

.appl {
        display: flex;
        align-items: center;
        margin-bottom: 0;
}

.appl-content {
        margin-bottom: 0;
}

.flex-content-2 {
        height: 187px;
        border-top: 1px solid #D1D1D1;
        border-bottom: 1px solid #D1D1D1;
        margin: 30px 0;
        padding: 30px 0;
        box-sizing: border-box;
}

.flex-content-2>div:nth-child(1) {
        margin-bottom: 30px;
        font-size: 2rem;
        font-weight: bold;
}

div.appl label {
        width: 95%;
}

.flex-content-3>div:nth-child(1) {
        margin-bottom: 30px;
        font-size: 2rem;
        font-weight: bold;
}

.search-svg {
        background-image: url(../svg/search.svg);
        background-repeat: no-repeat;
        background-position: 98% center;
}

.margin {
        margin-bottom: 33%;
}

.section-4 {
        height: 286px;
}

#button {
        background-color: #0050D8;
        width: 69px;
        color: white;
        font-size: 1.6rem;
        font-weight: 700;
}

.flex-button {
        justify-content: flex-end;
}