html{
        font-size: 4px;
}

body,
ul {
        margin: 0;
        padding: 0;
        background-color: #212529;
        font-family: 'Poppins', sans-serif;
}

li.nav_item>a {
        text-transform: capitalize;
        color: #FFFFFF;
        padding: 25px 12.5px;
        box-sizing: border-box;
        font-size: 4.5rem;
}

li.nav_item>a:hover {
        color: #FFB742;
        transition: all .4s;
}

.nav {
        list-style: none;
        display: flex;
}

a:link {
        text-decoration: none;
}

.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 48px;
}

.button {
        color: #212529;
        padding: 12px 26px;
        background-color: #FFB742;
        border-radius: 50px;
        font-weight: bold;
        font-size: 4.5rem;
}

.about-header {
        color: #FFFFFF;
        text-align: center;
        font-family: 'Inter', sans-serif;
        text-transform: capitalize;
}

.about-name {
        font-size: 8rem;
        font-weight: bold;
        padding-top: 108px;
        box-sizing: border-box;
}

div.about-name>a {
        color: #FFB742;
        text-decoration: underline;
}

.about-edu {
        font-size: 12rem;
        font-weight: bold;
        padding-bottom: 25px;
        box-sizing: border-box;
}

.about-desc {
        font-size: 6rem;
        padding-bottom: 22px;
        box-sizing: border-box;
}

.column {
        display: flex;
        justify-content: center;

}

.column-t {
        width: 30%;
        height: 120px;
        background-color: #292B2E;
        margin: 136px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #FFFFFF;
        font-weight: bold;
        padding: 0 42px;
        box-sizing: border-box;
        border-radius: 10px;
}

.column-t:hover {
        color: black;
        background-color: #FFB742;
        transition: all .4s;
}

.column-t:hover .column-numbers {
        color: black;
        transition: all .4s;
}

.column-t:hover>svg>path {
        fill: black;
        transition: all .4s;
}

.column-icon {
        height: 64px;
}

.column-text {
        text-align: center;
        font-size: 4rem;
}

.column-numbers {
        color: #FFB742;
        font-size: 8rem;
}

.about-second-part {
        display: flex;
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
}

.about-photo-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85%;
        margin: 0px 50px;
}

.whoiam-btn {
        color: #FFB742;
        text-transform: uppercase;
        font-size: 5rem;
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 50px;
        width: 20%;
        text-align: center;
        margin-bottom: 30px;
}

.about-me {
        font-family: 'Roboto', sans-serif;
        font-size: 12rem;
        font-weight: bold;
}

.second-part-desc {
        font-size: 4rem;
        margin: 30px 0;
        margin-bottom: 50px;
        color: #D4D4D4;
}

.myworks-btn {
        color: #FFB742;
        text-transform: uppercase;
        font-size: 5rem;
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 50px;
        width: 10%;
        text-align: center;
        margin: 30px auto;
}

.featured-works {
        font-family: 'Roboto', sans-serif;
        font-size: 12rem;
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
}

.nav-example {
        display: flex;
        justify-content: center;
}

div.nav-example>a {
        color: #FFFFFF;
        font-size: 4rem;
        text-transform: capitalize;
        margin: 30px 24px;
        font-weight: 600;
        padding: 5px 20px;
        box-sizing: border-box;
}

div.nav-example>a:link {
        text-decoration: none;
        color: #FFFFFF;
}

div.nav-example>a:hover {
        background-color: #FFB742;
        color: black;
        transition: all .4s;
}

.example {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.example img {
        padding: 15px 15px;
        box-sizing: border-box;
}

.footer {
        display: flex;
        justify-content: space-around;
        color: #FFFFFF;
        padding: 148px 0 93px 0;
        box-sizing: border-box;
        background-color: #1C1C1C;
        margin: 116px 0;
        font-family: 'Work Sans', sans-serif;
}

.footer-content {
        display: flex;
        flex-direction: column;
        padding: 0 75px;
        box-sizing: border-box;
}

.Kartik_Bansal {
        color: #FFB742;
        font-size: 8rem;
        font-weight: 700;
        margin-bottom: 30px;
}

.Kartik-desc {
        color: #D4D4D4;
        font-size: 4rem;
        font-family: 'Poppins', sans-serif;
}

.title {
        font-size: 5.5rem;
        font-weight: bold;
        margin-bottom: 6.5px;
}

.footer-content a {
        text-transform: capitalize;
        text-decoration: none;
        color: #7B7B7B;
        font-size: 4.5rem;
        padding: 6.5px 0;
        box-sizing: border-box;
}

.footer-content a.subtitle:link {
        text-transform: none;
}

.footer-content a:active {
        color: #FFFFFF;
}