body {
        background-color: #E5E5E5;
}

.container {
        width: 512px;
        height: 512px;
        background: linear-gradient(to bottom, rgba(33, 55, 252, 1) 50%, rgba(255, 206, 34, 1) 50%);
        margin: 20px;
        display: inline-block;
}

.padding_glyph {
        padding-top: 144px;
        padding-left: 52px;
        box-sizing: border-box;
}

.image_glyph {
        background-image: url('../img/Glyph.png');
        height: 227.36px;
        background-repeat: no-repeat;
}

.backround {
        width: 512px;
        height: 512px;
        background-color: white;
        display: inline-block;
        margin: 20px;
        padding-top: 20px;
        padding-left: 34px;
        box-sizing: border-box;
}

.circle {
        height: 466px;
        width: 444px;
        background: linear-gradient(to bottom, rgba(33, 55, 252, 1) 50%, rgba(255, 206, 34, 1) 50%);
        border-radius: 50%;
}

.circle_glyph {
        padding-top: 123px;
        padding-left: 22px;
        box-sizing: border-box;
}

.image_group {
        background-image: url('../img/Group.png');
        height: 100%;
        background-repeat: no-repeat;
}

.padding_group {
        padding-top: 59px;
        padding-left: 0px;
        box-sizing: border-box;
}

.circle_group {
        padding-top: 40px;
        padding-left: 55px;
        box-sizing: border-box;
}

.image_plane {
        background-image: url('../img/Plane.png');
        height: 100%;
        background-repeat: no-repeat;
}

.padding_plane {
        padding-left: 173px;
        padding-top: 128px;
        box-sizing: border-box;
}

.circle_plane {
        padding-left: 52px;
        padding-top: 32px;
        box-sizing: border-box;
}

.diya {
        background-image: url('../img/Vector_diya.png');
        height: 182px;
        background-repeat: no-repeat;
}

.padding_diya {
        padding-left: 93px;
        padding-top: 158px;
        box-sizing: border-box;
}

.circle_diya {
        padding-left: 60px;
        padding-top: 124px;
        box-sizing: border-box;
}

.black {
        width: 512px;
        height: 512px;
        background-color: black;
        display: inline-block;
        margin: 20px;
}

.flag {
        background-image: url('../img/Flag-mini.png');
        height: 60px;
        background-repeat: no-repeat;
}

.diya_margin1 {
        margin-left: 101px;
        margin-top: 128.64px;
}

.flag_margin1 {
        margin-left: 216px;
        margin-top: 32px;
}

.flag_margin2 {
        margin-left: 21px;
        margin-top: 23px;
}

.diya_margin2 {
        margin-left: 101px;
        margin-top: 45.64px;
}

.flag_margin3 {
        margin-left: 21px;
        margin-top: 27px;
}

.diya_margin3 {
        margin-left: 101px;
        margin-top: 41px;
}

.flag_margin4 {
        margin-left: 390px;
        margin-top: 27px;
}
