body {
        font-family: 'Montserrat', sans-serif;
        background-color: rgba(236, 236, 236, 1) !important;
}

header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        background-color: #fff;
}

img {
        width: 100%;
}

.container-fluid {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

form {
        margin-right: 40%;
}

.navbar {
        padding: 0.5rem 0.5rem;
}

.input-place input[type="text"] {
        background-image: url(../img/addres.svg);
        background-repeat: no-repeat;
        background-position: 3% center;
        min-width: 200px;
        max-width: 500px;
        border: 1px solid black;
        padding-left: 15%;
        box-sizing: border-box;
}

.btn {
        border: none;
}

.btn-enter {
        background-color: #EF781A;
}

.btn-basket {
        background-color: #00D008;
}

.btn-enter:hover,
.btn-basket:hover {
        background-color: black;
}

.h2 {
        font-weight: 700;
        margin: 50px 0;
}

.container-cards {
        display: flex;
}

.cont-navbar-2 .navbar-expand-lg,
main {
        background-color: rgba(236, 236, 236, 1) !important;
}

.navbar-nav li {
        color: rgba(123, 123, 123, 1);
        margin-right: 10px;
}

.navbar-nav li:hover {
        color: rgba(52, 52, 52, 1);
        background-color: rgba(196, 196, 196, 1);
        border-radius: 10px;
}

.box-cont-1 {
        width: 70%;
}

.box-cont-2 {
        min-width: 30%;
        max-width: 30%;
        height: 315px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        padding: 20px 15px;
        box-sizing: border-box;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
}

.flex-order-flex {
        margin: 25px 25px;
        justify-content: space-between;
        display: flex;
}

.header-box-cont-1 {
        font-size: 24px;
        font-weight: 700;
        margin: 20px 0;
}

.flex-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
}

.card {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        width: 90% !important;
        margin-bottom: 25px;
}

.card-title {
        font-size: 18px;
        color: rgba(0, 0, 0, 1);
}

.card-text {
        font-size: 10px;
        color: #A1A1A1;
}

.value {
        padding-right: 35%;
        box-sizing: border-box;
}

.value-cards svg:hover {
        fill: rgba(105, 160, 66, 1);
}

.value-cards svg:hover path {
        stroke: rgba(105, 160, 66, 1);
}

.btn-basket-value {
        display: none;
        width: 113px;
        height: 35px;
        background-color: #FF6C01;
        color: #fff;
        border-radius: 10px;
        text-align: center;
        padding-top: 3%;
        box-sizing: border-box;
        margin-right: 10%;
}

.btn-basket-value a {
        text-decoration: none;
        color: #fff;
}

.card:hover .btn-basket-value {
        display: inline-block;
}

.card:hover .value {
        display: none;
}

.flex-order {
        display: flex;
}

.flex-order ul {
        width: 40%;
}

.flex-order .amount,
.flex-order .sum {
        width: 30%;
}

.head-order {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5%;
        padding-left: 5%;
        box-sizing: border-box;
}

.bold-h-order {
        font-size: 14px;
        font-weight: 500;
}

.flex-order ul {
        padding-left: 5%;
        box-sizing: border-box;
}

.flex-order ul li {
        color: rgba(151, 151, 151, 1);
        font-size: 12px;
        list-style-type: none;
}

.amount {
        display: flex;
        justify-content: space-around;
}

.plus,
.minus {
        width: 28px;
        height: 28px;
        background-color: #FF6C01;
        border-radius: 50%;
        padding-left: 9%;
        padding-top: 2%;
        box-sizing: border-box;
}

.plus a,
.minus a {
        color: #fff;
        text-decoration: none;
}

.minus {
        padding-left: 11%;
        box-sizing: border-box;
}

.amount-number {
        font-size: 18px;
        font-weight: 500;
}

.sum-120 {
        text-align: center;
}

.sum-50 {
        text-align: center;
}

.button-order {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 368px;
        min-width: 200px;
        height: 62px;
        background-color: #FF6C01;
        border-radius: 10px;
}

.button-order a,
.button-order div {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
}

.footer {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding-top: 30px;
        padding-left: 20px;
        box-sizing: border-box;
}

.footer div {
        padding: 8px 0;
        box-sizing: border-box;
}

.head-footer {
        color: rgba(153, 153, 153, 1);
        font-size: 14;
        font-weight: 500;
}

.text-footer {
        font-size: 16px;
        font-weight: 500;
}

.nav-bar-media {
        display: none;
}

.navbar-media-menu {
        display: none;
}

@media screen and (max-width:992px) {
        .nav-bar-main {
                display: none;
        }

        .nav-bar-media {
                display: flex;
                justify-content: space-between;
                background-color: #fff;
        }

        .cont-navbar-1 .bg-light {
                background-color: #fff !important;
        }

        .navbar-media-menu {
                display: flex;
        }

        .navbar-media-menu .nav-link {
                color: rgba(123, 123, 123, 1) !important;
        }

        .navbar-media-menu li:hover .nav-link {
                color: black !important;
        }

        .flex-cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
        }

        .card {
                width: 90% !important;
        }

        .container-cards {
                display: inline-block;
        }

        .box-cont-1 {
                width: 100%;
        }

        .box-cont-2 {
                margin: 0 auto;
                max-width: 50%;
        }

        .sum-120 {
                margin-bottom: 0%;
        }
}

@media screen and (max-width:576px) {
        .flex-cards {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
        }

        .container-cards {
                width: 100vw;
                padding: 0 20%;
                box-sizing: border-box;
        }

        .box-cont-2 {
                max-width: 80%;
                margin: 10px auto;
        }

        .card {
                margin: 10px auto;
        }

        .value {
                padding-right: 55%;
        }

        .btn-basket-value {
                margin-right: 35%;
        }
}