html {
        font-size: 10px;
}

body {
        margin: 0;
        padding: 0;
        font-family: 'Rosario', sans-serif;
}

/*First screen*/

.container {
        height: 100vh;
}

/*Navigation menu*/

header {
        position: sticky;
        top: 0px;
        z-index: 1;
        width: 100%;
}

.header-body {
        display: flex;
        position: relative;
        justify-content: space-between;
        background-color: black;
        height: 129px;
}

.header-logo {
        max-width: 100%;
        display: block;
}

ul {
        padding: 0;
        box-sizing: border-box;
}

.nav-header {
        background-color: black;
        display: flex;
        list-style-type: none;
        margin: 0;
        align-items: center;
}

.nav-header li {
        margin: 0 15px;
}

.nav-header a:link {
        text-decoration: none;
}

.nav-header a {
        color: #FFFCFC;
        text-transform: capitalize;
        font-style: italic;
        font-size: 3.6rem;
        box-sizing: border-box;
}


.header-burger {
        display: none;
}


/*The end of navigation menu*/

.gallery {
        display: flex;
        justify-content: center;
        align-items: center;
}

.box-side {
        height: 60vh;
}

.box-top {
        height: 35vh;
        margin: 5vh 1vw;
}

.box-bott {
        height: 30vh;
        margin: 0 1vw;
}

img {
        height: 100%;
        width: 100%;
}

.anim-left {
        animation: anim-left 2s linear forwards;
        transition: all .4s;
}

@keyframes anim-left {
        0% {
                transform: translateX(-100vw);
        }

        100% {
                transform: translate(0, 0);
        }
}

.anim-left-tb {
        animation: anim-left-tb 1s linear forwards;
        transition: all .4s;
}

@keyframes anim-left-tb {
        0% {
                transform: translateX(-100vw);
        }

        100% {
                transform: translate(0, 0);
        }
}

.anim-right-tb {
        animation: anim-right-tb 1s linear forwards;
        transition: all .4s;
}

@keyframes anim-right-tb {
        0% {
                transform: translateX(100vw);
        }

        100% {
                transform: translate(0, 0);
        }
}

.anim-right {
        animation: anim-right 2s linear forwards;
        transition: all .4s;
}

@keyframes anim-right {
        0% {
                transform: translateX(100vw);
        }

        100% {
                transform: translate(0, 0);
        }
}

/*Second screen*/

.screen-2 {
        display: flex;
        justify-content: space-between;
}

.ellipse-center {
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin: 5vh auto;
}

.image-screen-2 {
        width: 50%;
        height: 100vh;
}

.el-box {
        height: 70vh;
}

.ellipse {
        height: 50%;
}

.text-screen-2 {
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        font-style: italic;
}

.img-btn {
        margin-top: 50px;
}

.a-1 {
        animation: anim-a-1 5s linear infinite;
}

@keyframes anim-a-1 {

        0% {
                transform: translate(0, 0);
        }

        25% {
                transform: translateX(340px);
        }

        50% {
                transform: translate(340px, 285px);
        }

        75% {
                transform: translate(-5px, 285px);
        }

        100% {
                transform: translate(0);
        }
}

.a-2 {
        animation: anim-a-2 5s linear infinite;
}

@keyframes anim-a-2 {
        0% {
                transform: translate(0, 0);
        }

        25% {
                transform: translate(0, -285px);
        }

        50% {
                transform: translate(340px, -285px);
        }

        75% {
                transform: translate(340px, 5px);
        }

        100% {
                transform: translate(0, 0);
        }
}

.a-3 {
        animation: anim-a-3 5s linear infinite;
}

@keyframes anim-a-3 {
        0% {
                transform: translate(0, 0);
        }

        25% {
                transform: translate(0, 285px);
        }

        50% {
                transform: translate(-340px, 285px);
        }

        75% {
                transform: translate(-340px, 0);
        }

        100% {
                transform: translate(0, 0);
        }
}

.a-4 {
        animation: anim-a-4 5s linear infinite;
}

@keyframes anim-a-4 {
        0% {
                transform: translate(0, 0);
        }

        25% {
                transform: translate(-350px, 0);
        }

        50% {
                transform: translate(-340px, -285px);
        }

        75% {
                transform: translate(0, -285px);
        }

        100% {
                transform: translate(0, 0);
        }
}

/*Third screen*/

.header-s3 {
        font-size: 7.6rem;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        margin: 50px 0;
}

.screen-3 {
        display: flex;
        justify-content: space-evenly;
}

.card1 {
        background-image: url(../image/card-1.png);
}

.card2 {
        background-image: url(../image/card-2.png);
}

.card3 {
        background-image: url(../image/card-3.png);
}

.card4 {
        background-image: url(../image/card-4.png);
}

.cards {
        border-radius: 40px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 300px;
        height: 70vh;
}

.card-name {
        visibility: hidden;
}

.cards:hover .card-name {
        text-align: center;
        font-size: 4.8rem;
        color: #FFFAFA;
        font-family: 'Volkhov', serif;
        transition: all .4s;
        visibility: visible;
        background-color: rgba(163, 83, 10, 0.7);
        height: 150px;
        padding: 13% 0;
        box-sizing: border-box;
        border-radius: 0 0 40px 40px;
        transform: translate(0, 288px);
}

/*Fourth screen*/

.footer {
        display: flex;
        justify-content: center;
}

.f-header {
        font-size: 6.4rem;
        font-weight: 700;
        text-align: center;
        height: 40%;
        width: 80%;
        margin: 0 auto;
}

.left-box {
        width: 60%;
        display: flex;
        flex-direction: column;
        height: 450px;
}

.map {
        width: 40%;
        height: 450px;
        margin-right: 6vw;
}

iframe {
        width: 100%;
}

.form {
        width: 80%;
        background-color: rgba(229, 229, 229, 1);
        margin: 0 auto;
}

.textarea {
        margin: 2% 4%;
        resize: none;
        width: 90%;
}

input[type="text"] {
        margin: 2% 4%;
        width: 42%;
        height: 30px;
}

input[type="email"] {
        width: 42%;
        height: 30px;
}

.footer-contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 5vh 0;
}

.box {
        font-size: 2.5rem;
        text-align: center;
        font-style: italic;
        width: 31%;
}

.bold {
        font-weight: 700;
        font-style: normal;
}

.footer-contact a {
        color: black;
        text-decoration: none;
}

.connect {
        display: flex;
        flex-direction: column;
        width: 20%;
}

.opening-hours {
        margin-bottom: 20px;
}

.instagram {
        background-image: url(../svg/instagram.svg);
}

.facebook {
        background-image: url(../svg/facebook.svg);
}

.twitter {
        background-image: url(../svg/twitter.svg);
        padding-right: 12%;
        box-sizing: border-box;
}

.background {
        background-repeat: no-repeat;
        background-position: 20% center;
        background-size: contain;
}

/*Media queries*/


@media screen and (min-width:1620px) {
        .container{
                margin: 0 15%;
        }
}

@media screen and (max-width:992px) {
        html {
                font-size: 6px;
        }

        .header-body {
                height: 70px;
        }

        .header-logo {
                max-width: 30%;
        }

        .anim-left {
                animation: anim-left 1s linear forwards;
        }

        @keyframes anim-left {
                0% {
                        transform: translate(-100vw, 120%);
                }

                100% {
                        transform: translate(105%, 120%);
                }
        }

        .anim-right {
                animation: anim-right 1s linear forwards;
        }

        @keyframes anim-right {
                0% {
                        transform: translate(100vw, 120%);
                }

                100% {
                        transform: translate(-110%, 120%);
                }
        }

        .screen-2 {
                margin-top: 50vh;
        }

        .image-screen-2 {
                position: absolute;
                margin: 0 25%;
        }

        .ellipse-center {
                margin-top: 65%;
        }

        @keyframes anim-a-1 {

                0% {
                        transform: translate(0, 0);
                }

                25% {
                        transform: translateX(120%);
                }

                50% {
                        transform: translate(120%, 125%);
                }

                75% {
                        transform: translate(0, 125%);
                }

                100% {
                        transform: translate(0);
                }
        }

        @keyframes anim-a-2 {
                0% {
                        transform: translate(0, 0);
                }

                25% {
                        transform: translate(0, -125%);
                }

                50% {
                        transform: translate(120%, -125%);
                }

                75% {
                        transform: translate(120%, 0);
                }

                100% {
                        transform: translate(0, 0);
                }
        }

        @keyframes anim-a-3 {
                0% {
                        transform: translate(0, 0);
                }

                25% {
                        transform: translate(0, 125%);
                }

                50% {
                        transform: translate(-120%, 125%);
                }

                75% {
                        transform: translate(-120%, 0);
                }

                100% {
                        transform: translate(0, 0);
                }
        }

        @keyframes anim-a-4 {
                0% {
                        transform: translate(0, 0);
                }

                25% {
                        transform: translate(-120%, 0);
                }

                50% {
                        transform: translate(-120%, -125%);
                }

                75% {
                        transform: translate(0, -125%);
                }

                100% {
                        transform: translate(0, 0);
                }
        }

        .team {
                margin-top: 60%;
        }

        .card1 {
                transform: translate(100%, 0);
        }

        .card2 {
                transform: translate(110%, 0);
        }

        .card3 {
                transform: translate(-100%, 110%);
        }

        .card4 {
                transform: translate(-90%, 110%);
        }

        .cards:hover .card-name {
                padding: 20% 0;
                box-sizing: border-box;
                transform: translate(0, 227px);
        }

        .footer {
                margin-top: 40%;
        }

        .left-box {
                transform: translate(42%, 0);
        }

        .f-header {
                height: 30%;
        }

        .map {
                transform: translate(-62%, 155%);
        }

        .footer-contact {
                display: block;
                transform: translate(36%, -30%);
        }

        .opening-hours {
                margin: 10px 0;
                margin-top: 20px;
        }

        .connect {
                transform: translate(38%, 30%);
        }

        .connect .bold {
                margin-bottom: 10px;
                transform: translateX(-8%);
        }

        .header-burger {
                display: block;
                background-image: url(../svg/burger.svg);
                width: 100%;
                background-repeat: no-repeat;
                background-position: 95% center;
        }

        .nav-header {
                display: none;
        }

        .nav-burger {
                display: none;
        }

        .header-burger:hover .nav-burger {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin: 20px 0;
                list-style-type: none;
                margin-top: 10%;
        }

        .header-burger:hover .nav-burger a {
                text-decoration: none;
                color: black;
                font-size: 4rem;
                text-shadow: 1px 1px 4px black;
                margin: 20px 0;
        }

        .header-burger:hover .nav-burger li {
                padding: 5px 0;
                box-sizing: border-box;
                margin-right: 10px;
        }
}

@media screen and (max-width:768px) {
        html {
                font-size: 4px;
        }

        .container {
                height: 100%;
        }

        .header-body {
                height: 50px;
        }

        .header-logo {
                max-width: 25%;
        }

        .gallery {
                display: block;
        }

        .box-top,
        .box-bott {
                height: 70%;
                width: 50%;
                margin: 20px auto;
        }

        .box-side {
                height: 80%;
                width: 50%;
                margin: 20px auto;
        }

        .anim-left,
        .anim-right,
        .anim-left-tb,
        .anim-right-tb {
                animation: none;
        }

        .screen-2 {
                display: block;
                margin: 50px 0;
        }

        .image-screen-2 {
                display: none;
        }

        .ellipse {
                height: 30%;
        }

        @keyframes anim-a-1 {

                0% {
                        transform: translate(0, 0);
                }

                25% {
                        transform: translateX(100%);
                }

                50% {
                        transform: translate(100%, 130%);
                }

                75% {
                        transform: translate(0, 125%);
                }

                100% {
                        transform: translate(0);
                }
        }

        @keyframes anim-a-2 {
                0% {
                        transform: translate(0, 0);
                }

                25% {
                        transform: translate(0, -100%);
                }

                50% {
                        transform: translate(100%, -100%);
                }

                75% {
                        transform: translate(100%, 0);
                }

                100% {
                        transform: translate(0, 0);
                }
        }

        @keyframes anim-a-3 {
                0% {
                        transform: translate(0, 0);
                }

                25% {
                        transform: translate(0, 125%);
                }

                50% {
                        transform: translate(-100%, 125%);
                }

                75% {
                        transform: translate(-100%, 0);
                }

                100% {
                        transform: translate(0, 0);
                }
        }

        @keyframes anim-a-4 {
                0% {
                        transform: translate(0, 0);
                }

                25% {
                        transform: translate(-100%, 0);
                }

                50% {
                        transform: translate(-100%, -100%);
                }

                75% {
                        transform: translate(0, -100%);
                }

                100% {
                        transform: translate(0, 0);
                }
        }

        .ellipse-center {
                margin: 0 auto;
        }

        .el-box {
                height: 70%;
        }

        .screen-3 {
                display: block;
                height: 80%;
                width: 70%;
                margin: 20px auto;
        }

        .header-s3 {
                margin: 0 auto;
        }

        .cards:hover .card-name {
                padding: 18%;
                box-sizing: border-box;
                transform: translate(0, 228px);
        }

        .cards {
                margin: 10px auto;
        }

        .footer {
                display: block;
        }

        .left-box {
                display: none;
        }

        .map {
                margin: 0 auto;
                width: 80%;
        }

        .footer-contact {
                display: block;
        }

        .box {
                width: 60%;
                margin: 20px auto;
        }

        .connect a {
                height: 28px;
        }

        .opening-hours {
                margin-bottom: 10px;
        }

        .twitter,
        .instagram,
        .facebook {
                background-position: 35% center;
        }

        .instagram {
                margin-top: 10px;
        }

        .twitter {
                padding: 0;
        }

        .header-burger {
                display: block;
                background-image: url(../svg/burger.svg);
                width: 100%;
                background-repeat: no-repeat;
                background-position: 80% center;
        }

        .nav-header {
                display: none;
        }

        .nav-burger {
                display: none;
        }

        .header-burger:hover .nav-burger {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin: 20px 0;
                list-style-type: none;
                margin-top: 10%;
        }

        .header-burger:hover .nav-burger a {
                text-decoration: none;
                color: black;
                font-size: 4rem;
                text-shadow: 1px 1px 4px black;
                margin: 20px 0;
        }

        .header-burger:hover .nav-burger li {
                padding: 5px 0;
                box-sizing: border-box;
                margin-right: 10px;
        }
}