body {
        background: #E5E5E5;
        font-family: 'PT Sans', sans-serif;
        margin: 0;
        padding: 0;
}

#header {
        background-color: #202846;
        height: 90px;
}

.header_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

li>a {
        text-decoration: none;
        color: white;
}

.menu {
        list-style-type: none;
        font-size: 24px;
        font-weight: bold;
        border-right: 2px solid white;
        margin: 0 27px;
        width: 170px;
}

.nav_one {
        margin-left: 17%;
}

.nav_three {
        width: 240px;
}

.nav_five {
        width: 300px;
}

.mountain {
        height: 70px;
        padding-left: 110px;
        padding-top: 10px;
        box-sizing: border-box;
}

.globe {
        height: 75px;
        width: 75px;
        border-right: none;
}

.UA {
        font-size: 28px;
        border: none;
        padding-right: 15%;
        box-sizing: border-box;
        width: 40px;
}

.background_H2 {
        height: 140px;
        background-color: rgba(198, 198, 220, 1);
        padding: 1.5% 227px;
        box-sizing: border-box;
}

.H2 {
        color: rgba(32, 40, 70, 1);
        font-size: 48px;
        font-style: italic;
}

.background_H3 {
        height: 73px;
        background-color: #E8E8E8;
        text-align: center;
        margin: 60px 0;
        padding-top: 18px;
        padding-right: 18px;
        box-sizing: border-box;
        width: 1489px;
}

.H3 {
        font-size: 28px;
        color: rgba(0, 0, 0, 0.61);
}

.triangle {
        float: right;
        overflow: auto;
        height: 33px;
}

.content {
        margin: 0 auto;
        width: 1489px;
}

.card {
        background-color: rgba(189, 189, 198, 1);
        padding: 28px 87px 28px 103px;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 36px;
        display: inline-block;
        width: 1489px;
}

.image {
        height: 244px;
}

.title {
        color: rgba(53, 60, 87, 1);
        font-weight: bold;
        font-size: 36px;
        font-style: italic;
        float: right;
        max-width: 712px;
}

.line {
        border-bottom: 3px #fff solid;
}

.background_subtitle {
        background-color: #D7D7DD;
        height: 184px;
        padding: 24px 46px;
        box-sizing: border-box;
        margin-top: 10px;
}

.subtitle {
        text-align: center;
        font-size: 22px;
        color: #202846;
        font-weight: 400;
        font-style: normal;
}

.button {
        background-color: #202846;
        border-radius: 40px 40px;
        height: 60px;
        width: 200px;
        position: absolute;
        left: 90%;
        bottom: 4%;
        text-align: center;
        z-index: 2;
}

.star {
        position: absolute;
        left: 96%;
        bottom: 80%;
}

.card:hover path {
        fill: #EEE000;
        transition: all .4s;
}

.text {
        color: #fff;
        font-size: 24px;
        margin-top: 13px;
}

.text>a {
        text-decoration: none;
        color: #fff;
}

.subtitle_4 {
        padding-top: 9px;
}

.fixed_button {
        background-color: rgba(85, 87, 104, 0.62);
        height: 101px;
        width: 101px;
        border-radius: 50%;
        text-align: center;
        padding-top: 1%;
        box-sizing: border-box;
        position: fixed;
        overflow: auto;
        bottom: 40%;
        right: 4%;
}

.background_footer {
        background-color: rgba(32, 40, 70, 1);
        height: 90px;
        padding: 22px 60px;
        box-sizing: border-box;
        margin-top: 87px;
}

.footer {
        color: #fff;
        font-size: 36px;
        font-style: italic;
}